@page "{id:int}"
@model CMS.Web.Pages.Admin.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete Page";
}

<div class="container mt-4">
    <h1>Delete Page</h1>
    <hr />
    <div class="alert alert-danger">
        Are you sure you want to delete the page <strong>@Model.PageTitle</strong>? All content blocks will also be deleted.
    </div>
    <form method="post">
        <input type="hidden" name="id" value="@Model.PageId" />
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="/Admin/Pages" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
